<!DOCTYPE html>
<html lang="en" lang="en">
    <header>
        <link rel="stylesheet" href="/css/main.css">
    </header>
    <body>
        <br />
        <h1 style="text-align: center; font-size: 25px;">No such page {{ badUrl }}</h1>
        <br />
        <br />
        <h1 style="text-align: center; font-size: 25px;">Please try visiting main page of the app</h1>
        <h1 style="text-align: center; font-size: 25px;"><a href="/">Main page</a></h1>
    </body>
    <br>
    <footer>
      <p style="text-align: center;">Created by &copy; swifty94</p>
      <br>
      <h3 style="text-align: center;"><a href="https://github.com/swifty94">GitHub</a></h3>
    </footer>
</html>