<!DOCTYPE html>
<html lang="en" lang="en">
    <header>
        <link rel="stylesheet" href="/css/main.css">
    </header>
    <body>
        <h1 style="text-align: center; font-size: 25px;">Simple Weather App</h1>
        <br />
        <div class="search-form">
            <form action="/weather?">
                <br>
                <input type="text" id="search" name="search" placeholder="City for search" required>
                <br>
                <input id="btnSearch" type="submit" value="Search">
                <br>
            </form>
        </div>
        <div id="welcome-text" style="display: block; margin-top: 40px; padding: 40px;">
            <p>You can check weather in whatever city you wish.</p>
            <p>Just type it in the search form above in English and click "Search"</p>
            <br>
            <p>Or, you can easily check the weather right where you are!</p>
            <p>Click on "Locate me!" and the app will try to locate you &#128512;</p>
            <p>Once done, just click on "Search" &#128521;</p>
        </div>
        <p><button onclick="getLocation()">Locate me!</button></p>
        <br>
        <div id="location" style="display: none">
            <br>
            <p id="position"></p>
            <br>
            <p id="country">Country: </p>
            <p id="city">City: </p>
            <p id="state">State: </p>
            <p id="postCode">Post code: </p>
        </div>
        <br>
        </div>
    <script src="/js/client.js"></script>
    </body>
    <footer>
      <p style="text-align: center;">Created by &copy; swifty94</p>
      <br>
      <h3 style="text-align: center;"><a href="https://github.com/swifty94/simple-nodejs-weather-app">GitHub</a></h3>
    </footer>
</html>