<!DOCTYPE html>
<html lang="en" lang="en">
    <header>
        <link rel="stylesheet" href="/css/main.css">
    </header>
    <body>
        <h1 style="text-align: center; font-size: 25px;">A very simple weather app</h1>
        <br />
        <div class="userInput" style="margin-top: 50px; padding: 50px;">
            <h2>Please input the desired city to get weather details</h2>
            <form action="/weather?">
                <br>
                <input type="text" id="search" name="search" placeholder="Kharkiv" required>
                <br>
                <input type="submit" value="Submit">
                <br>
            </form>
            <br>
        </div>
    </body>
    <footer>
      <p style="text-align: center;">Created by &copy; swifty94</p>
      <br>
      <h3 style="text-align: center;"><a href="https://github.com/swifty94/simple-nodejs-weather-app">GitHub</a></h3>
    </footer>
</html>